<!doctype html>

<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <meta name="theme-color" content="#3063A0">

    <script src="assets/vendor/pace/pace.min.js"></script>
    <link rel="stylesheet" href="assets/vendor/pace/pace.min.css">
  </head>

  <body>
    <div id="root"/>
  </body>
</html>
